body{
	font-family: 'Open Sans', sans-serif;
}
head{
	width:100%;
	height: 50px;
	background: #333;
	color: #fff;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

}
.bottom{
    background-color: darkgoldenrod;
    border: 2px;
    padding: 15px;
text-align: center;
border: 1px solid #999999;
}
.texto1 { font-size: 20px;
background-color: chocolate;
}
.texto2 { font-size: 20px;
background-color: burlywood;
}
body table{
	align-content: center;
    
 

}
#tabla{

    padding: 5px 15px;
    
}
 #nombre{
 	background: #fff;
     background-color: brown;

 }

.texto3{
    background-color: darkturquoise;
    text-align: center;
    text-decoration-color:black;
}


#tabla table {
    width:683px;
    text-align: center;
    align-content: center;
}



.titulo{
	position: center;
	top: 0;
	width: 80px;
	height: 20px;
	background: #333;
	color: #fff;
}
